<div class="contact-section">
  <h1>Contacto</h1>
  <p>Si alguna vez se te pasa por la cabeza la loca idea de contratarme, puedes contactarme utilizando este formulario.</p>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Tu nombre" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>


  <h2 class="pt-5">Recuerda que también estoy en <a href="https://www.linkedin.com/in/sion-maldonado/" class="text-light" target="_blank">Linked-In</a>, ahí está gran parte de mi vida laboral, además de los certificados de (casi) todas mis capacidades.</h1>
</div>
