<div class="hero">
  <div class="left">
    <h1>izquierda</h1>
    <p>Esta es la página principal donde podrás ver mis proyectos y contactarme.</p>
  </div>
  <div class="center"> centro </div>
  <div class="right">
    <h1>derecha</h1>
    <p>Esta es la página principal donde podrás ver mis proyectos y contactarme.</p>
  </div>
</div>

<div class="container mt-5">
  <h2>Proyectos</h2>
  <p>Aquí puedes ver algunos de mis proyectos destacados.</p>

</div>

